# Deaktiviere all checks 
# Aktiviert anschließend C relevante checks.

Checks: >
  -*,
  readability-*,
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  -readability-identifier-naming,
  -bugprone-reserved-identifier

WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
